//-------------------------------------
//- site information

-
    var dataset = {
        title: 'K2 SKY',
        office: 'K2 SKY',
        mailaddress: 'info@k2-sky.com',
        url: 'https://k2-sky.com',
        telno: '0120-000-000'
    };


//-------------------------------------
//- navigation

-
    const menuList = [
        {
            name: 'Home',
            name_en:'Home',
            url: '/',
        },
        {
            name: 'ポートフォリオ',
            name_en:'portfolio',
            url: '#portfolio',
        },
        {
            name: 'プロフィール',
            name_en:'profile',
            url: '#profile',
        },
        {
            name: '問い合わせ',
            name_en:'contact',
            url: '#contact',
        },
        //- {
        //-     name: 'コンテンツ',
        //-     name_en:'Contents',
        //-     url: 'contents/',
        //-     subCat: [
        //-         {
        //-             name: '画像処理関連',
        //-             name_en:'Image Processing',
        //-             url: '#image-processing',
        //-         },
        //-         {
        //-             name: 'Flexまとめ',
        //-             name_en:'Flex',
        //-             url: '#flex',
        //-         },
        //-         {
        //-             name: 'メニューリスト関連',
        //-             name_en:'Nav-list',
        //-             url: '#nav-list',
        //-         },
        //-         {
        //-             name: 'コピペ用メモ',
        //-             name_en:'Memo',
        //-             url: '#memo-list',
        //-         },
        //-     ],
        //- },
        //- {
        //-     name: 'サービス',
        //-     name_en:'Service',
        //-     url: 'service/',
        //-     subCat: [
        //-         {
        //-             name: '映画',
        //-             name_en:'Movies',
        //-             url: 'movie.html',
        //-         },
        //-         {
        //-             name: '音楽',
        //-             name_en:'Music',
        //-             url: 'music.html',
        //-         },
        //-     ],
        //- },
    ];

//-------------------------------------
//- language Menu

//- -
//-     var LangM=[
//-         {
//-             link_url:"/",
//-             alt:"日本語",
//-         },
//-         {
//-             link_url:"/en/",
//-             alt:"English",
//-         },
//-         {
//-             link_url:"/ct/",
//-             alt:"中文繁體",
//-         },
//-         {
//-             link_url:"/cs/",
//-             alt:"中文简体",
//-         }
//-     ]

